#
# rbheromax and cooldudezach's configuration
#
menuconfig RBHEROMAX
       bool "rbheromax and cooldudezachs's mods" if EXPERT
       default y
       help
	rbheromax's kernel modfications

if RBHEROMAX

menu "Block Schedulers"

config IOSCHED_EXTRA
        tristate "Extra schedulers"
        default y
        ---help---
         Selecting this will enable SIO and ZEN I/O Schedulers.

endmenu

menu "Speedhacks Options"
config CPU_OC_15
        boolean"Overclocking to 1.5GHz"
        default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_17
        boolean "Overclocking to 1.7GHz"
        depends on CPU_OC_15
	default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_19
        boolean "Overclocking to 1.9GHz"
        depends on CPU_OC_17
	default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_20
        boolean "Overclocking to 2.0GHz"
        depends on CPU_OC_19
	default n
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_FREQ_GOV_EXTRA
        bool "Extra CPU Govs"
        depends on CPU_FREQ
        help
          Enable smartassv2, asswax, and badass cpu governors
if CPU_FREQ_GOV_EXTRA
menu "Badass CPU GOV options"
config CPU_FREQ_GOV_BADASS_2_PHASE
  tristate "'2-phase' power-efficiency badass algorithm"
  depends on CPU_FREQ_GOV_EXTRA
  help
    '2-phase' - This driver adds a new algo to save power

config CPU_FREQ_GOV_BADASS_2_PHASE_FREQ
  int "'2-phase' badass frequency"
  default 918000
  depends on CPU_FREQ_GOV_EXTRA
  depends on CPU_FREQ_GOV_BADASS_2_PHASE

config CPU_FREQ_GOV_BADASS_3_PHASE
  tristate "'3-phase' power-efficiency badass algorithm"
  depends on CPU_FREQ_GOV_EXTRA
  depends on CPU_FREQ_GOV_BADASS_2_PHASE
  help
    '3-phase' - This driver adds a new algo to save power

config CPU_FREQ_GOV_BADASS_3_PHASE_FREQ
  int "'3-phase' badass frequency"
  default 1188000
  depends on CPU_FREQ_GOV_EXTRA
  depends on CPU_FREQ_GOV_BADASS_2_PHASE
  depends on CPU_FREQ_GOV_BADASS_3_PHASE

config CPU_FREQ_GOV_BADASS_GPU_CONTROL
  tristate "'gpu_control' power-efficiency badass algorithm"
  depends on CPU_FREQ_GOV_EXTRA
  depends on CPU_FREQ_GOV_BADASS_2_PHASE
  help
    'gpu_control' - This driver adds a new algo to save power

config CPU_FREQ_GOV_BADASS_LOWBAT_POWERSAVE
  tristate "'lowbat_powersave' power-efficiency badass algorithm"
  depends on CPU_FREQ_GOV_EXTRA
  help
    'lowbat_powersave' - This driver adds a new algo to save power

config CPU_FREQ_GOV_BADASS_ALLOW_BYPASS
  tristate "Allows bypassing phases"
  depends on CPU_FREQ_GOV_EXTRA
  depends on CPU_FREQ_GOV_BADASS_2_PHASE
 help
    'allow_bypass' - This driver adds a bypass to the phases
endmenu
endif
config MSM8930_GPU_OC
	bool "Overclock GPU"
	default n
	help
	  Enable Overclocking of GPU to 450 MHz

config CPU_VOLTAGE_TABLE
  bool "Enable CPU Voltage Table via sysfs for adjustements"
  help
    Krait User Votlage Control

endmenu

menu "Filesystems"
source "fs/exfat/Kconfig"
source "fs/f2fs/Kconfig"
endmenu

menu "Touchscreen Mods"

config TOUCHSCREEN_SWEEP2WAKE
        tristate "Sweep2Wake for touchscreens"
        select TOUCHSCREEN_PREVENT_SLEEP
        default n

config TOUCHSCREEN_DOUBLETAP2WAKE
        tristate "DoubleTap2Wake for touchscreens"
        select TOUCHSCREEN_PREVENT_SLEEP
        default n

config TOUCHSCREEN_PREVENT_SLEEP
        bool "Inihibit sleep on modified touchscreen drivers"
        default n
        help
          This disables the sleep function of modified touchscreen drivers.
endmenu    

endif # RBHEROMAX
