#
# rbheromax and cooldudezach's configuration
#
menuconfig RBHEROMAX
       bool "rbheromax and cooldudezachs's mods" if EXPERT
       default y
       help
	rbheromax's kernel modfications

if RBHEROMAX

menu "Block Schedulers"

config IOSCHED_EXTRA
        tristate "Extra schedulers"
        default y
        ---help---
         Selecting this will enable SIO and ZEN I/O Schedulers.

endmenu

menu "Speedhacks Options"
config CPU_OC_14
        boolean "Overclocking to 1.4GHz"
        default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_17
        boolean "Overclocking to 1.7GHz"
        depends on CPU_OC_14
	default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_19
        boolean "Overclocking to 1.9GHz"
        depends on CPU_OC_17
	default y
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_OC_20
        boolean "Overclocking to 2.0GHz"
        depends on CPU_OC_19
	default n
        help
          Overclock for MSM8930 chipset. (Based on APQ8064 acpuclock table)

config CPU_FREQ_GOV_EXTRA
        bool "Extra CPU Govs"
        depends on CPU_FREQ
        help
          Enable smartassv2, asswax, and badass cpu governors

config MSM8930_GPU_OC
	bool "Overclock GPU"
	default n
	help
	  Enable Overclocking of GPU to 450 MHz

config CPU_VOLTAGE_TABLE
  bool "Enable CPU Voltage Table via sysfs for adjustements"
  help
    Krait User Votlage Control

endmenu
endif # RBHEROMAX
